<app-herosub [heroContent]="heroContent"></app-herosub>

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="who-we-are" class="about">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-6 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="content">
                        <h2>{{ aboutContent.title }}</h2>
                        <p *ngFor="let item of aboutContent.description">{{ item.text }}</p>
                        <div class="text-center text-lg-start">
                            <a (click)="appMain.navigateToContact()"
                                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center cursor-pointer">
                                <span>Contactez-nous</span>
                                <i class="pi pi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="about-img" class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out"
                    data-aos-delay="200">
                    <img [src]="aboutContent.imageUrl" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= why-us Section ======= -->
    <section id="why-us" class="about">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <header class="section-header">
                <p>Pourquoi choisir ETS VAN’S SERVICES ?</p>
            </header>
            <div class="row gx-0">
                <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out"
                data-aos-delay="200">
                    <img src="assets/img/logo_pressing.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up"
                data-aos-delay="200">
                    <div class="content">
                        <h6 class="py-3">
                            <strong>Un service polyvalent et de qualité</strong>
                            <br>
                            ETS VAN’S SERVICES se distingue par son expertise et sa diversité de services. Que ce soit pour l’achat de pièces détachées automobiles, de mèches brésiliennes et indiennes, de matériaux électriques ou pour un pressing de qualité, nous mettons tout en œuvre pour offrir un service irréprochable à nos clients.
                        </h6>
                        <h6 class="py-3">
                            <strong>Des produits sélectionnés avec soin</strong>
                            <br>
                            Tous nos produits sont minutieusement choisis pour garantir la satisfaction et répondre aux besoins du marché. Nous travaillons avec des fournisseurs de confiance pour assurer des articles durables et performants.
                        </h6>
                        <h6 class="py-3">
                            <strong>Un engagement envers nos clients</strong>
                            <br>
                            La satisfaction de notre clientèle est au cœur de nos préoccupations. Nous veillons à offrir un service client réactif, des conseils personnalisés et une expérience d’achat agréable.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End why-us Section -->
</main><!-- End #main -->
